#landing-page {
  height: 850px;
  background: rgb(46, 24, 147, 0.5);
  position: relative;
}

#landing-page::before {
  content: "";
  position: absolute;
  background: url("https://s3-alpha-sig.figma.com/img/2e9d/962f/4c269f57807850115899b4611a2bf3ba?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ebCkcyLPKvjS3LiIrNL2BscY-A~PZYH0HiImj8ts5oZ~Q3eS2AlJbxFjIomxaDzImc-nLFDV1SqjA1EgW2rxUOEkBbG6hu1wZmFWQQ~FYR6aWEFbz81enChsVdGXIxN4QPHNlS1VVB2F88Mqq3-z-jWBsv08ZkYC3ylqISe7U5~VdtYr1Do1RtZqzl8Dd1N3kDkhcalHnfknUl9IlaK2xstpeL2jiAjBOAcGaXGFXCP72IPQjviNeOZaRzVwz-VzPIUq0WfXK0-Lyw6HV6QmsK7bJbrVzE5MyubiPMfXh8R7vtYbmX1gel8AHzfard1aHsCde~Xkx3d05khr0xTx8Q__");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  padding-top: 85px;
}

nav ul {
  width: 470px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #ffffff;
}

nav ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
}

nav ul li a:active {
  color: rgba(255, 255, 255, 0.3);
}

nav ul li a i {
  font-size: 1.125rem;
  line-height: 1.29rem;
}

#home {
  opacity: 30%;
}

#text-container {
  max-width: 740px;
  margin: 140px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#text-container label {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.95rem;
  letter-spacing: -0.29px;
  text-align: center;
}

#text-container h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.37rem;
  letter-spacing: -1px;
  text-align: center;
}

#text-container h5 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  max-width: 736px;
}

#paginator-dots {
  margin: 45px auto 0 auto;
  display: flex;
  justify-content: center;
  gap: 9px;
}

#paginator-dots i {
  font-size: 0.75rem;
  line-height: 2.25rem;
}

#paginator-dots .fa-circle-o {
  opacity: 30%;
}

#sign-up {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  padding: 17px 35px;
  background-color: #482be7;
  display: block;
  width: 230px;
  border: none;
  color: #ffffff;
  border-radius: 100px;
  margin: 60px auto;
  cursor: pointer;
}

#sign-up:hover {
  background-color: rgba(72, 43, 231, 0.9);
}
