#showcase {
  min-height: 1130px;
  background-color: #2f1893;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#showcase-title {
  width: 71.9051%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 52.8px;
}

#showcase-title h3 {
  font-size: 2.625rem;
  line-height: 3.25rem;
  letter-spacing: -0.4px;
}

#showcase-title button {
  padding: 10px 24px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  border: 2px solid #ffffff4d;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  color: #ffffff;
}

#showcase-title button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#showcase-works {
  width: 71.9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 74px 30px;
}

.work .photo {
  width: 100%;
  height: 280px;
}

.work .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#showcase-works .work {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.work .description {
  text-align: center;
}

.description label {
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.description h5 {
  font-size: 1.375rem;
  line-height: 2rem;
}
